cw.xsd

<?xml version="1.0"?>

<!-- schema declaration -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Giftcards_Store">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="navbar"/>
                <xs:element ref="advertisement"/>
                <xs:element ref="heading"/>
                <xs:element ref="list"/>
                <xs:element ref="Giftcards_List"/>
                <xs:element ref="store_details"/>
                <xs:element ref="footer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="navbar">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="store_logo"/>
                <xs:element ref="home_links"/>
                <xs:element ref="gift_links"/>
                <xs:element ref="about_links"/>
                <xs:element ref="help_links"/>
                <xs:element ref="search"/>
                <xs:element ref="log_in_link"/>
                <xs:element ref="sign_up_link"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="store_logo">
        <xs:complexType>
            <xs:attribute ref="img"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="home_links" type="xs:string"/>
    <xs:element name="gift_links" type="xs:string"/>
    <xs:element name="about_links" type="xs:string"/>
    <xs:element name="help_links" type="xs:string"/>
    <xs:element name="search" type="xs:string"/>
    <xs:element name="log_in_link" type="xs:string"/>
    <xs:element name="sign_up_link" type="xs:string"/>
    
    <xs:element name="advestisement">
        <xs:complexType>
            <xs:element ref="box1"/>
            <xs:element ref="box2"/>
            <xs:element ref="box3"/>
            <xs:element ref="box4"/>
            <xs:element ref="box5"/>
            <xs:element ref="r_arrow"/>
            <xs:element ref="l_arrow"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="box1"/>
    <xs:element name="box2"/>
    <xs:element name="box3"/>
    <xs:element name="box4"/>
    <xs:element name="box5"/>
    <xs:element name="r_arrow" type="xs:string"/>
    <xs:element name="l_arrow" type="xs:string"/>
    <xs:element name="heading" type="xs:string"/>
    <xs:element name="list" type="xs:string"/>



    <xs:element name="Giftcard_List">

        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Giftcard" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Giftcard">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="coverImg"/>
                <xs:element ref="Giftcard_info"/>
            </xs:sequence>
            <xs:attribute ref="g_id"/>
        </xs:complexType>
    </xs:element>

    <xs:attribute name="g_id" type="xs:ID"/>
    <xs:element name="coverImg">
        <xs:complexType>
            <xs:attribute ref="img"/>
        </xs:complexType>
    </xs:element>

    <xs:attribute name="img" type="xs:string"/>

    <xs:element name="Giftcard_info">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="giftcard_name"/>
                <xs:element ref="amount"/>
                <xs:element ref="rating"/>
                <xs:element ref="giftcard_type"/>
                <xs:element ref="validity" maxOccurs="1" minOccurs="0"/>
                <xs:element ref="NoOfUser" maxOccurs="1" minOccurs="0"/>
                <xs:element ref="discount_voucher" maxOccurs="1" minOccurs="0"/>
                <xs:element ref="description" maxOccurs="1" minOccurs="0"/>
                <xs:element ref="delivery" maxOccurs="1" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="giftcard_name" type="xs:string"/>
    <xs:element name="amount">
        <xs:simpleContent>
            <xs:extension base="xs:integer"/>
        </xs:simpleContent>
    </xs:element>

    <xs:element name="rating">
        <xs:simpleContent>
            <xs:extension base="xs:string"/>
        </xs:simpleContent>
    </xs:element>

    <xs:element name="giftcard_type">
        <xs:simpleContent>
            <xs:restriction base="xs:integer">
                <xs:enumeration value="Physical"/>
                <xs:enumeration value="Online"/>
            </xs:restriction>
        </xs:simpleContent>    
    </xs:element>

    <xs:element name="validity">
        <xs:complexType>
            <xs:extension base="xs:date">
                <xs:attribute ref="validityDate"/>
            </xs:extension>
        </xs:complexType>
    </xs:element>

    <xs:attribute name="validityDate">
        <xs:simpleContent>
            <xs:restriction base="xs:string">
                <xs:enumeration value="AD"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:attribute>

    <xs:element name="NoOfUser" type="xs:integer"/>
    <xs:element name="discount_voucher">
        <xs:complexType>
            <xs:extension base="xs:intger">
                <xs:attribute ref="category"/>
            </xs:extension>
        </xs:complexType>
    </xs:element>
    
    <xs:attribute name="category">
        <xs:simpleContent>
          <xs:restriction base="xs:string">
            <xs:enumeration value="VIP"/>
            <xs:enumeration value="Medium"/>
            <xs:enumeration value="Normal"/>
          </xs:restriction>  
        </xs:simpleContent>
    </xs:attribute>

    <xs:element name="description" type="xs:string"/>
    <xs:element name="delivery">
        <xs:complexType>
            <xs:restriction base="String">
                <xs:enumeration value="International"/>
                <xs:enumeration value="Everywhere"/>
                <xs:enumeration value="National"/>
            </xs:restriction>
            <xs:attribute ref="status"/>
        </xs:complexType>
    </xs:element>

    <xs:attribute name="status">
        <xs:simpleContent>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Available"/>
                <xs:enumeration value="Unavailable"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:attribute>

    <xs:element name="store_details">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="store_name"/>
                <xs:element ref="store_address"/>
                <xs:element ref="store_phone"/>
                <xs:element ref="store_type"/>
                <xs:element ref="store_email"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="store_name" type="xs:string"/>
    <xs:element name="store_address" type="xs:string"/>

    <xs:element name="store_phone">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="office_phone"/>
                <xs:element ref="office_phone"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="office_phone" type="xs:integer"/>
    <xs:element name="customer_phone" type="xs:integer"/>
    <xs:element name="store_email" type="xs:string"/>
    <xs:element name="store_email" type="xs:string"/>

    <xs:element name="footer">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="line"/>
                <xs:element ref="about"/>
                <xs:element ref="contact"/>
                <xs:element ref="social"/>
                <xs:element ref="facebook_link"/>
                <xs:element ref="twitter_link"/>
                <xs:element ref="instagram_link"/>
                <xs:element ref="privacy"/>
                <xs:element ref="copyright"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="line"/>
    <xs:element name="about" type="xs:string"/>
    <xs:element name="contact" type="xs:string"/>
    <xs:element name="social" type="xs:string"/>
    <xs:element name="facebook_link" type="xs:string"/>
    <xs:element name="twitter_link" type="xs:string"/>
    <xs:element name="instragram_link" type="xs:string"/>
    <xs:element name="privacy" type="xs:string"/>
    <xs:element name="copyright" type="xs:string"/>
</xs:schema>